<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name.possessive %> Events
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.created_events.any? %>
      <h3>Events Created (<%= @user.created_events.count %>)</h3>
      <ol class="microposts">
        <% @user.created_events.each do |event| %>
        	<li> 
        	<h4><%= event.name %></h4>
        	<strong>Location: </strong> <%= event.location %><br/ >
        	<strong>Date: </strong><%= event.date %><br/ ><br/ >
        	<%= event.description %>
        	</li>
    	<% end %>
      </ol>
    <% end %>
  </div>  
</div>
<%= @user.name %>, <%= @user.email %><br/ >
<%= @user.created_at %>, <%= @user.updated_at %><br/ >
<%= Time.now %>