<h1><%= Event.upcoming.count  %> <%= "Upcoming Events".pluralize(Event.upcoming.count) %></h1>
<% provide(:title, 'Events List') %>
<div class="row">
  <div class="col-md-8">
    <% if Event.upcoming.any? %>
      <ol class="microposts">
        <% Event.upcoming.each do |event| %>
        	<li> 
        	<h4><%= link_to event.name, event %></h4>
        	<strong>Location: </strong> <%= event.location %><br/ >
        	<strong>Date: </strong><%= event.date %><br/ ><br/ >
        	<%= event.description %><br/ ><br/ >
        	<strong>Created By: </strong><%= event.creator.name %>
        	</li>
    	<% end %>
      </ol>
    <% end %>
  </div>  
</div>

<h1><%= Event.past.count  %> <%= "Past Events".pluralize(@events.count) %></h1>
<div class="row">
  <div class="col-md-8">
    <% if Event.past.any? %>
      <ol class="microposts">
        <% Event.past.each do |event| %>
          <li> 
          <h4><%= link_to event.name, event %></h4>
          <strong>Location: </strong> <%= event.location %><br/ >
          <strong>Date: </strong><%= event.date %><br/ ><br/ >
          <%= event.description %><br/ ><br/ >
          <strong>Created By: </strong><%= event.creator.name %>
          </li>
      <% end %>
      </ol>
    <% end %>
  </div>  
</div>
