<h1><%= @event.name %></h1>
	<strong>Location: </strong><br/ > <%= @event.location %><br/ ><br/ >
	<strong>Date: </strong><br/ ><%= @event.date %><br/ ><br/ >
	<strong>Description: </strong><br/ ><%= @event.description %><br/ ><br/ >
	<strong>Created By: </strong><br/ ><%= link_to @event.creator.name, @event.creator %>
<br/ >
<br/ >
	<strong>Attendees: </strong><ul>
		<% @event.attendees.each do |person_attending| %>
			<li><%= link_to person_attending.name, person_attending %></li>
		<% end %>
	</ul>